@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Formula 1 Calendar - MDS 2023</h1>
    <br />
    <p>This is a school project and nothing presentet here should be considered correct and/or valid!</p>
</div>
